<header>
    <div class="left-menu">
        <div class="logo-img">
            <img src="../../assets/img/logo.svg" alt="logo">
        </div>
        <div class="logo-text">
            <p>Taha</p>
        </div>
    </div>
    <nav >
        <ul class="nav-links">
            <li><a class="nav-link"  routerLink="/home">Home</a></li>
            <li><a class="nav-link"  routerLink="/projects">Projects</a></li>
            <li><a  class="nav-link" *ngIf="_auth._loggedIn()" (click)="_auth._logout()" routerLink="/login">Logout</a></li>
            <li><a  class="nav-link" *ngIf="! _auth._loggedIn()" routerLink="/login">Login</a></li>
            <li><a class="nav-link"  *ngIf="! _auth._loggedIn()" routerLink="/register">Register</a></li>
        </ul>
    </nav>
</header>